<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Fun Runs 2015: About</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS
================================================== -->
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/prettyPhoto.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom-styles.css') }}">

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/style-ie.css"/>
<![endif]--> 

<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.jpg') }}">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon.jpg') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/icon.jpg') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/icon.jpg') }}">

<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/apple-touch-icon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/apple-touch-icon-114x114.png') }}">

<!-- JS
================================================== -->
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.flexslider.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.custom.js') }}"></script>
<script type="text/javascript">
     $(window).load(function(){

    $('.flexslider').flexslider({
        animation: "slide",
        slideshow: true,
        start: function(slider){
          $('body').removeClass('loading');
        }
    });  
});
</script>

</head>

<body>
    <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    
    <div class="container main-container">
    
      <div class="row header"><!-- Begin Header -->
      
        <!-- Logo
        ================================================== -->
        <div class="span5 logo">
<!--           <a href="/"><img src="{{ url_for('static', filename='img/piccolo-logo.png') }}"/></a> -->
            <h1>Fun Runs 2015: About</h1>
        </div>
        
        <!-- Main Navigation
        ================================================== -->
        <div class="span7 navigation">
          <div class="navbar hidden-phone">
          
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/funruns">Fun Runs</a></li>
              <li><a href="/themes">Fun Themes</a></li>
              <li><a href="/challenges">Fun Challenges</a></li>
              <li><a href="/locations">Fun Locations</a></li>
              <li class="active"><a href="/about">About</a></li>
            </ul>
         
          </div>

            <!-- Mobile Nav
            ================================================== -->
            <form action="#" id="mobile-nav" class="visible-phone">
              <div class="mobile-nav-select">
                <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                    <option value="">Navigate...</option>
                    <option value="/">Home</option>
                    <option value="/funruns">Fun Runs</option>
                    <option value="/themes">Fun Themes</option>
                    <option value="/challenges">Fun Challenges</option>
                    <option value="/locations">Fun Locations</option>
                    <option value="/about">About</option>
                </select>
              </div>
            </form>
            
        </div>
      
    </div><!-- End Header -->
     
    <!-- Page Content
    ================================================== --> 
    
    <!-- Title Header -->
    <div class="row">
        <div class="span12">
            <h2>Our Group: Flask Me Anything</h2>
            <p class="lead">A group of students from the University of Texas, Austin, conquering the world, one Software Engineering Project at a time.<br/>
            <h3 class="title-bg"> _(┐「ε:)_ &nbsp Meet our team! &nbsp _(┐「ε:)_</h3>
            <div class="row">
                <div class="span4">
                    <div class="resize">
                        <img src="{{ url_for('static', filename='img/teamMemberPics/Alyssa.jpg') }}" alt="image">
                    </div>
                    <h5>Alyssa Williams</h5>
                    <p>
                        <i class="icon-user"></i><strong>LinkedIn:</strong> <a href="http://www.linkedin.com/in/anwilliams93"> Click Here</a><br/>
                        <i class="icon-envelope"></i><strong>Email:</strong> <a href="mailto:anwilliams93@gmail.com"> anwilliams93@gmail.com</a><br/>
                        <i class="icon-pencil"></i><strong>Major:</strong> Computer Science<br/>
                        <i class="icon-calendar"></i><strong>Graduation Date:</strong> May 2016<br/>
                        <i class="icon-gift"></i><strong>Birthday:</strong> April 27, 1993<br/>
                        <i class="icon-headphones"></i><strong>Favorite Music:</strong> Classic Prog Rock, Kpop<br/>
                        <i class="icon-heart"></i><strong>Loves:</strong> Cats, Friendship That's Magic, Gaming, Grandma, Doctor Who, Board Games<br/>
                        <i class="icon-comment"></i><strong>Favorite Quote: </strong> "Defridgerators: where it just makes things more warm." -Kurt Bixby<br/>
                    </p>
                </div>
                <div class="span4">
                    <div class="resize">
                        <img src="{{ url_for('static', filename='img/teamMemberPics/Kurt.jpg') }}" alt="image">
                    </div>
                    <h5>Kurt Bixby</h5>
                    <p>
                        <i class="icon-user"></i><strong>LinkedIn:</strong> <a href="http://www.linkedin.com/in/kurtbixby"> Click Here</a><br/>
                        <i class="icon-envelope"></i><strong>Email:</strong> <a href="mailto:kurtbixby@mac.com"> kurtbixby@mac.com</a><br/>
                        <i class="icon-pencil"></i><strong>Major:</strong> Computer Science<br/>
                        <i class="icon-calendar"></i><strong>Graduation Date:</strong> May 2015<br/>
                        <i class="icon-gift"></i><strong>Birthday:</strong> November 10, 1991<br/>
                        <i class="icon-headphones"></i><strong>Favorite Music:</strong> Alternative, Electronic, Rock, Grunge<br/>
                        <i class="icon-heart"></i><strong>Loves:</strong> Video Games, Board Games, Music, Seattle Seahawks<br/>
                        <i class="icon-comment"></i><strong>Favorite Quote: </strong> "They don't think it be like it is, but it do." -Abraham Lincoln<br/>
                    </p>
                </div>
                <div class="span4">
                    <div class="resize">
                        <img src="{{ url_for('static', filename='img/teamMemberPics/Kevin.jpg') }}" alt="image">
                    </div>
                    <h5>Kevin Byers</h5>
                    <p>
                        <i class="icon-user"></i><strong>Seelio:</strong> <a href="http://seelio.com/kevinbyers"> Click Here</a><br/>
                        <i class="icon-envelope"></i><strong>Email:</strong> <a href="mailto:kevin.byers.tennis@gmail.com"> kevin.byers.tennis@gmail.com</a><br/>
                        <i class="icon-pencil"></i><strong>Major:</strong> Computer Science<br/>
                        <i class="icon-calendar"></i><strong>Graduation Date:</strong> May 2015<br/>
                        <i class="icon-gift"></i><strong>Birthday:</strong> June 25, 1991<br/>
                        <i class="icon-headphones"></i><strong>Favorite Music:</strong> Classic Rock, Alternative<br/>
                        <i class="icon-heart"></i><strong>Loves:</strong> Dogs, Cats, Friends, Family, Gaming, Movies, TV, Board Games<br/>
                        <i class="icon-comment"></i><strong>Favorite Quote: </strong> "Intelligence is the ability to adapt to change."  -Stephen Hawking<br/>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    <div class="resize">
                        <img src="{{ url_for('static', filename='img/teamMemberPics/David.jpg') }}" alt="image">
                    </div>
                    <h5>David Aguirre</h5>
                    <p>
                        <i class="icon-user"></i><strong>LinkedIn:</strong> <a href="http://www.linkedin.com/in/daguirre92"> Click Here</a><br/>
                        <i class="icon-envelope"></i><strong>Email:</strong> <a href="mailto:david.aguirre@utexas.edu"> david.aguirre@utexas.edu</a><br/>
                        <i class="icon-pencil"></i><strong>Major:</strong> Computer Science and Economics<br/>
                        <i class="icon-calendar"></i><strong>Graduation Date:</strong> May 2015<br/>
                        <i class="icon-gift"></i><strong>Birthday:</strong> March 25, 1992<br/>
                        <i class="icon-headphones"></i><strong>Favorite Music:</strong> Classic Rock, Kpop <br/>
                        <i class="icon-heart"></i><strong>Loves:</strong> Skiing, Hiking, Camping, Swimming, Dogs, Austin, Board Games<br/>
                        <i class="icon-comment"></i><strong>Favorite Quote: </strong> “If I had asked people what they wanted, they would have said faster horses.” -Henry Ford <br/>
                    </p>
                </div>
                <div class="span4">
                    <div class="resize">
                        <img src="{{ url_for('static', filename='img/teamMemberPics/Edgar.jpg') }}" alt="image">
                    </div>
                    <h5>Edgar Treto</h5>
                    <p>
                        <i class="icon-user"></i><strong>LinkedIn:</strong> <a href="http://www.linkedin.com/in/edgartreto"> Click Here</a><br/>
                        <i class="icon-envelope"></i><strong>Email:</strong> <a href="mailto:edgar.treto45@gmail.com"> edgar.treto45@gmail.com</a><br/>
                        <i class="icon-pencil"></i><strong>Major:</strong> Computer Science<br/>
                        <i class="icon-calendar"></i><strong>Graduation Date:</strong> May 2015<br/>
                        <i class="icon-gift"></i><strong>Birthday:</strong> January 19, 1993<br/>
                        <i class="icon-headphones"></i><strong>Favorite Music:</strong> Classic Rock, Classical, DnB<br/>
                        <i class="icon-heart"></i><strong>Loves:</strong> Gaming, Soccer, Anime<br/>
                        <i class="icon-comment"></i><strong>Favorite Quote: </strong> _(┐「ε:)_<br/>
					</p>
                </div>
                <div class="span4">
                    <div class="resize">
                        <img src="{{ url_for('static', filename='img/teamMemberPics/Hector.jpg') }}" alt="image">
                    </div>
                    <h5>Hector Garcia</h5>
                    <p>
                        <i class="icon-user"></i><strong>LinkedIn:</strong> <a href="http://www.linkedin.com/in/hektor11"> Click Here</a><br/>
                        <i class="icon-envelope"></i><strong>Email:</strong> <a href="mailto:hectuanerz@gmail.com"> hektor11@utexas.edu</a><br/>
                        <i class="icon-pencil"></i><strong>Major:</strong> Computer Science<br/>
                        <i class="icon-calendar"></i><strong>Graduation Date:</strong> May 2015<br/>
                        <i class="icon-gift"></i><strong>Birthday:</strong> August 5, 1993<br/>
                        <i class="icon-headphones"></i><strong>Favorite Music:</strong> Spanish Rock, EDM, Hip Hop, Classic Rock<br/>
                        <i class="icon-heart"></i><strong>Loves:</strong> Soccer, Super Smash Brothers, Dragonball<br/>
                        <i class="icon-comment"></i><strong>Favorite Quote: </strong> "Every force you create has an echo. Your own bad energy will be your undoing" -Super Gogeta<br/>
                    </p>
                </div>
            </div>

            <h3 class="title-bg"> _(┐「ε:)_ &nbsp The Tools We Used &nbsp _(┐「ε:)_</h3>
            <div class="row">
                <div class="span12">
                    <li><strong>Python</strong></li>
                    <p> Python is one of the languages used to help bring our application to life. Its functionality allows for easy data manipulation. In combination with other tools, its syntax provides for easier interpretation and cleaner presentation.</p>
                    <li><strong>Flask</strong></li>
                    <p> Flask is a microframework for Python and serves as the foundation for our application. It uses Jinja2 templating and RESTful request dispatching. This tool helped facilitate our web application development process overall.</p>
                    <li><strong>Bootstrap</strong></li>
                     <p> Bootstrap is an open source framework that uses HTML, CSS, and JS. It helped both speed up and ease our front end development because of how flexible it is. </p>
                    <li><strong>Piccolo</strong></li>
                    <p> Piccolo is a bootstrap HTML template. We implemented this tool to enhance the presentation of our application and give it a more aesthethically pleasing appearance.</p>
                    <li><strong>nginx</strong></li>
                    <p> nginx is a high-performance HTTP server and reverse proxy. This tool was used to serve our application by handling the requests sent by our API. </p>
                    <li><strong>uwsgi</strong></li>
                    <p> uWSGI is a deployment option for severs. Because we decided to use nginx, combining it with uWSGI gives us more flexibility and better performance because of the configurations it offers.  </p>
                    <li><strong>Apiary</strong></li>
                    <p> Apiary is a tool that allowed for an easier, faster and more efficient creation of our API. It offers different tools to prototype your API and configure it to your liking. </p>
                    <li><strong>Github</strong></li>
                    <p> Github is a web-based Git repository. Since the project is being worked on
                    by several team members concurrently, it allows for more efficient contributions towards the overall project. In addition, it helps simulate a real world environment of software development and version control. </p>
                    <li><strong>Rackspace</strong></li>
                    <p> Rackspace has allowed our team to host our application using one of their virtual machines which has 1gb RAM and 20gb of storage. </p>
                </div>
            </div>

            <a href="https://github.com/anwilliams93/cs373-idb"> Github Repo</a><br/><br/>

        </div> 
    </div>
    
    </div> <!-- End Container -->

    <!-- Footer Area
        ================================================== -->

  <div class="footer-container"><!-- Begin Footer -->
      <div class="container">
        <br/>
            <div class="row"><!-- Begin Sub Footer -->
                <div class="span12 footer-col footer-sub">
                    <div class="row no-margin">
                        <div class="span6"><span class="left">Copyright 2012 Piccolo Theme. All rights reserved.</span></div>
                        <div class="span6">
                            <span class="right">
                            <a href="/">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/funruns">Fun Events</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/themes">Fun Themes</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/challenges">Fun Challenges</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/locations">Fun Locations</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/about">About</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- End Sub Footer -->

        </div>
    </div><!-- End Footer -->
    
    <!-- Scroll to Top -->  
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>
    
</body>
</html>
