<!DOCTYPE html>
<html>
  <head>
    <title>Fun Run Challenges</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Fun Run Challenges</h1>
      <br>
      <p><a href="/funruns">Fun Runs</a></p>
      <p><a href="/themes">Themes</a></p>
      <p><a href="/challenges">Challenges</a></p>
      <p><a href="/locations">Locations</a></p>
    </div>
  </body>
</html>