<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="FunRunModule" ng-controller="FunRunGetter">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Fun Runs 2015: [[run.name]]</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS
================================================== -->
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.lightbox-0.5.css') }}">
 -->
 <link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}" />
 <link rel="stylesheet" href="{{ url_for('static', filename='css/custom-styles.css') }}">

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/style-ie.css"/>
<![endif]--> 

<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/icon.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/icon.png') }}">

<!-- JS
================================================== -->
<!-- Changed to latest to work with Angular ! -->
<script src="{{ url_for('static', filename='angular/angular.js') }}"></script>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script> 
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.flexslider.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.custom.js') }}"></script>
<script>
  var myApp = angular.module('FunRunModule', [], function($interpolateProvider) {
      $interpolateProvider.startSymbol('[[');
      $interpolateProvider.endSymbol(']]');
  });

  myApp.controller('FunRunGetter', [ '$scope', '$sce', '$http', function($scope, $sce, $http) {
    $http.get("http://104.239.139.43:8000/api/funruns/" + {{runID}}).success(function(data) {
      $scope.run = data.funruns;
      $scope.map_url = $sce.trustAsResourceUrl($scope.run.map_url); 
      $scope.video_url = $sce.trustAsResourceUrl($scope.run.video_url);
      $scope.fb_url = $sce.trustAsHtml($scope.run.fb_url);
      $scope.imgs = $scope.run.imgs;
      $scope.quotes = $scope.run.quotes;
      $scope.themesIDs = $scope.run.themes;
      $scope.challengesIDs = $scope.run.challenges;
      // console.log($scope.run);
      // console.log($scope.map_url);
      // console.log($scope.video_url);
      // console.log($scope.imgs[0]);
      // console.log($scope.themesIDs);

    });
    $http.get("http://104.239.139.43:8000/api/challenges").success(function(data) {
      $scope.challenges = data.challenges;
      // console.log($scope.challenges);

    });
    $http.get("http://104.239.139.43:8000/api/themes").success(function(data) {
      $scope.themes = data.themes;
      // console.log($scope.themes);

    });
    $http.get("http://104.239.139.43:8000/api/locations").success(function(data) {
      $scope.locations = data.locations;
      // console.log($scope.locations);

    });

  }]);
</script>

<script type="text/javascript">
$(document).ready(function () {

    $("#btn-blog-next").click(function () {
      $('#blogCarousel').carousel('next')
    });
     $("#btn-blog-prev").click(function () {
      $('#blogCarousel').carousel('prev')
    });

     $("#btn-client-next").click(function () {
      $('#clientCarousel').carousel('next')
    });
     $("#btn-client-prev").click(function () {
      $('#clientCarousel').carousel('prev')
    });
    
});

 $(window).load(function(){

    $('.flexslider').flexslider({
        animation: "slide",
        slideshow: true,
        start: function(slider){
          $('body').removeClass('loading');
        }
    });  
});

</script>


<!-- <div ng-app="FunRunModule">
  <div ng-controller="FunRunGetter">
        <ul ng-repeat="run in funlist">
       <li>The ID is [[run.id]]</li>
       <li>The Name is [[run.name]]</li>
      </ul>
  </div>
</div> -->


<body>
  <!-- Facebook stuff -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  </head>
  <!-- End FB stuff -->

  <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    
    <div class="container main-container">
    
      <div class="row header"><!-- Begin Header -->
      
        <!-- Logo
        ================================================== -->
        <div class="span5 logo">
            <h1>Fun Run Event: [[run.name]]</h1>
            <a href="/funruns" class="pull-left"><i class="icon-arrow-left"></i>Back to Fun Runs</a>
        </div>
        
        <!-- Main Navigation
        ================================================== -->
        <div class="span7 navigation">
          <div class="navbar hidden-phone">
          
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/funruns">Fun Runs</a></li>
              <li><a href="/themes">Fun Themes</a></li>
              <li><a href="/challenges">Fun Challenges</a></li>
              <li><a href="/locations">Fun Locations</a></li>
              <li><a href="/tech">Technical</a></li>
              <li><a href="/about">About</a></li>
            </ul>
         
          </div>

            <!-- Mobile Nav
            ================================================== -->
            <form action="#" id="mobile-nav" class="visible-phone">
              <div class="mobile-nav-select">
                <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                    <option value="">Navigate...</option>
                    <option value="/">Home</option>
                    <option value="/funruns">Fun Runs</option>
                    <option value="/themes">Fun Themes</option>
                    <option value="/challenges">Fun Challenges</option>
                    <option value="/locations">Fun Locations</option>
                    <option value="/tech">Technical</option>
                    <option value="/about">About</option>
                </select>
              </div>
            </form>
            
        </div>
        
      </div><!-- End Header -->
     
    <!-- Page Content
    ================================================== --> 
    <div class="row"><!--Container row-->

    <!-- Title Header -->
        <div class="span8"><!--Begin page content column-->

        <h2>[[run.name]] &nbsp&nbsp | &nbsp&nbsp [[run.city]] </h2>                 
        
        <!-- Thumbnail Grid
        ================================================== -->
        <ul class="thumbnails">
            <li class="span4"><img ng-src="[[ imgs[0] ]]" alt="Thumbnail" class="thumbnail" size="width: 100%"/></li>
            <li class="span4"><img ng-src="[[ imgs[1] ]]" alt="Thumbnail" class="thumbnail" size="width: 100%"/></li>
            <li class="span8"><img ng-src="[[ imgs[2] ]]" alt="Thumbnail" class="thumbnail" size="width: 100%"/></li>
        </ul>
        <p class="lead">
          <button class="btn btn-warning" type="button">
            <a ng-href="[[run.website]]" alt="website">
              <div style="color: white">Visit Website</div>
            </a>
          </button><br/>
          [[run.description]]
        </p>

        <!-- Video Section
        ================================================== -->
        <h3 class="title-bg">Video For Getting Hyped</h3>
         <iframe ng-src= "[[video_url]]" style="width: 100%; height: 500px; max-height: 500px; frameborder: 0; border: 0"></iframe>

         <br/>

         <!-- Quotes
         ================================================= -->
         <h4 class="title-bg">Quotes</h4>
          <pre class="quote-text side">[[ quotes[0] ]]</pre>
          <br/>
          <pre class="quote-text side">[[ quotes[1] ]]</pre>
          <br/>
          <pre class="quote-text side">[[ quotes[2] ]]</pre>
          <br/>

        </div> <!--End page content column-->

        <!-- Blog Sidebar
        ================================================== --> 
        <div class="span4 sidebar page-sidebar"><!-- Begin sidebar column -->

          <!--Related Runs-->
          <h5 class="title-bg">Related Themes</h5>
          <div ng-repeat="tidx in themesIDs">
            <a ng-href="http://104.239.139.43:8000/themes/[[ themes[tidx].id ]]">
              <p class="quote-text side">[[ themes[tidx].name ]]</p>
            </a>
          </div>
          <h5 class="title-bg">Related Challenges</h5>
          <div ng-repeat="cidx in challengesIDs">
            <a ng-href="http://104.239.139.43:8000/challenges/[[ challenges[cidx].id ]]">
              <p class="quote-text side">[[ challenges[cidx].name ]]</p>
            </a>
          </div>

            <!--Address-->
            <h5 class="title-bg">Location</h5>
            <a ng-href="http://104.239.139.43:8000/locations/[[run.loc]]">
              <p class="quote-text side">[[locations[run.loc].name]]</p>
            </a>
            <pre class="quote-text side">[[run.address]]</pre>

            <br/>

            <!--Map-->
             <iframe ng-src= "[[map_url]]" style="width: 100%; height: 400px; max-height: 400px; frameborder: 0; border: 0"></iframe>

            <!--Prices-->
            <h5 class="title-bg">Prices</h5>
    
            <pre class="quote-text side">[[run.price]]</pre>

            <!--Affiliated Orgs-->
            <h5 class="title-bg">Affiliated Organizations</h5>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#hosts" data-toggle="tab">Hosts</a></li>
                <li><a href="#sponsors" data-toggle="tab">Sponsors</a></li>
                <li><a href="#charities" data-toggle="tab">Charities</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="hosts">
                    <p> [[run.hosts]]</p>
                </div>
                <div class="tab-pane" id="sponsors">
                    <p> [[run.sponsors]]</p>
                </div>
                <div class="tab-pane" id="charities">
                    <p> [[run.charities]]</p>
                </div>
            </div>

            <!--Facebook-->
            <h5 class="title-bg">Facebook</h5>
              <div class="span4">
                  <div class="fb-like-box" data-href="[[fb_url]]" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="false"></div>
              </div>
            

        </div><!-- End sidebar column -->

    </div><!-- End container row -->
    
    </div> <!-- End Container -->
    
 <!-- Footer Area
  ================================================== -->

  <div class="footer-container hidden-phone hidden-tablet"><!-- Begin Footer -->
      <div class="container">
        <br/>
            <div class="row"><!-- Begin Sub Footer -->
                <div class="span12 footer-col footer-sub">
                    <div class="row no-margin">
                        <div class="span6"><span class="left">Copyright 2012 Piccolo Theme. All rights reserved.</span></div>
                        <div class="span6">
                            <span class="right">
                            <a href="/">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/funruns">Fun Events</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/themes">Fun Themes</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/challenges">Fun Challenges</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/locations">Fun Locations</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/tech">Technical</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/about">About</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- End Sub Footer -->

        </div>
    </div><!-- End Footer -->

    <!-- Scroll to Top -->  
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>    
    
</body>
</html>