<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="FunRunModule" ng-controller="FunRunGetter">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Fun Runs 2015: [[run.name]]</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS
================================================== -->
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.lightbox-0.5.css') }}">
 -->
 <link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}" />
 <link rel="stylesheet" href="{{ url_for('static', filename='css/custom-styles.css') }}">

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/style-ie.css"/>
<![endif]--> 

<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/apple-touch-icon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/apple-touch-icon-114x114.png') }}">

<!-- JS
================================================== -->
<!-- Changed to latest to work with Angular ! -->
<script src="{{ url_for('static', filename='angular/angular.js') }}"></script>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script> 
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.flexslider.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.custom.js') }}"></script>
<script>
  var myApp = angular.module('FunRunModule', [], function($interpolateProvider) {
      $interpolateProvider.startSymbol('[[');
      $interpolateProvider.endSymbol(']]');
  });

  myApp.controller('FunRunGetter', function($scope, $http) {
    $http.get("http://104.239.139.43:8000/api/funruns/" + {{runID}}).success(function(data) {
      $scope.run = data.funruns;
      console.log($scope.run);
    });
  });
</script>

<script type="text/javascript">
$(document).ready(function () {

    $("#btn-blog-next").click(function () {
      $('#blogCarousel').carousel('next')
    });
     $("#btn-blog-prev").click(function () {
      $('#blogCarousel').carousel('prev')
    });

     $("#btn-client-next").click(function () {
      $('#clientCarousel').carousel('next')
    });
     $("#btn-client-prev").click(function () {
      $('#clientCarousel').carousel('prev')
    });
    
});

 $(window).load(function(){

    $('.flexslider').flexslider({
        animation: "slide",
        slideshow: true,
        start: function(slider){
          $('body').removeClass('loading');
        }
    });  
});

</script>
</head>


<!-- <div ng-app="FunRunModule">
  <div ng-controller="FunRunGetter">
        <ul ng-repeat="run in funlist">
       <li>The ID is [[run.id]]</li>
       <li>The Name is [[run.name]]</li>
      </ul>
  </div>
</div> -->


<body>
  <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    
    <div class="container main-container">
    
      <div class="row header"><!-- Begin Header -->
      
        <!-- Logo
        ================================================== -->
        <div class="span5 logo">
<!--           <a href="/"><img src="{{ url_for('static', filename='img/piccolo-logo.png') }}" alt="" /></a> -->
            <h1>Fun Run Event: [[run.name]]</h1>
        </div>
        
        <!-- Main Navigation
        ================================================== -->
        <div class="span7 navigation">
          <div class="navbar hidden-phone">
          
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/funruns">Fun Runs</a></li>
              <li><a href="/themes">Fun Themes</a></li>
              <li><a href="/challenges">Fun Challenges</a></li>
              <li><a href="/locations">Fun Locations</a></li>
              <li><a href="/about">About</a></li>
            </ul>
         
          </div>

            <!-- Mobile Nav
            ================================================== -->
            <form action="#" id="mobile-nav" class="visible-phone">
              <div class="mobile-nav-select">
                <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                    <option value="">Navigate...</option>
                    <option value="/">Home</option>
                    <option value="/funruns">Fun Runs</option>
                    <option value="/themes">Fun Themes</option>
                    <option value="/challenges">Fun Challenges</option>
                    <option value="/locations">Fun Locations</option>
                    <option value="/about">About</option>
                </select>
              </div>
            </form>
            
        </div>
        
      </div><!-- End Header -->
     
    <!-- Page Content
    ================================================== --> 
    <div class="row"><!--Container row-->

    <!-- Title Header -->
        <div class="span8"><!--Begin page content column-->

            <h2>[[run.name]] &nbsp&nbsp | &nbsp&nbsp [[run.city]]</h2>
            <p class="lead">[[run.description]]</p>

        <!-- Slider Carousel
        ================================================== -->
        <h3 class="title-bg">Photos Of The Fun!</h3>
          <div class="flexslider">
              <ul class="slides">
                <li><a href="gallery-single.htm"><img src="{{ url_for('static', filename='img/gallery/AbbyArt.jpg') }}" alt="slider" /></a></li>
                <li><a href="gallery-single.htm"><img src="{{ url_for('static', filename='img/gallery/AbbyArt.jpg') }}" alt="slider" /></a></li>
                <li><a href="gallery-single.htm"><img src="{{ url_for('static', filename='img/gallery/AbbyArt.jpg') }}" alt="slider" /></a></li>
                <li><a href="gallery-single.htm"><img src="{{ url_for('static', filename='img/gallery/AbbyArt.jpg') }}" alt="slider" /></a></li>
                <li><a href="gallery-single.htm"><img src="{{ url_for('static', filename='img/gallery/AbbyArt.jpg') }}" alt="slider" /></a></li>
              </ul>
            </div>

            <br />

        <!-- Video Section
        ================================================== -->
        <h3 class="title-bg">Check Out The Video!</h3>
<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://www.youtube.com/embed/QILiHiTD3uc' frameborder='0' allowfullscreen></iframe></div>
        </div> <!--End page content column-->

        <!-- Blog Sidebar
        ================================================== --> 
        <div class="span4 sidebar page-sidebar"><!-- Begin sidebar column -->

            <!--Address-->
            <h5 class="title-bg">Address</h5>
    
            <p class="quote-text side">[[run.address]]</p>

             <iframe ng-src= "[[run.maps_url]]" width="400" height="300" frameborder="0" style="border:0"></iframe>

            <!--Tabbed Content-->
            <h5 class="title-bg">Involved Parties</h5>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#hosts" data-toggle="tab">Hosts</a></li>
                <li><a href="#sponsors" data-toggle="tab">Sponsors</a></li>
                <li><a href="#charities" data-toggle="tab">Charities</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="hosts">
                    <p> [[run.hosts]]</p>
                </div>
                <div class="tab-pane" id="sponsors">
                    <p> [[run.sponsors]]</p>
                </div>
                <div class="tab-pane" id="charities">
                    <p> [[run.charities]]</p>
                </div>
            </div>

            <!--Prices-->
            <h5 class="title-bg">Prices</h5>
    
            <pre class="quote-text side">[[run.price]]</pre>

        </div><!-- End sidebar column -->

    </div><!-- End container row -->
    
    </div> <!-- End Container -->

  <!-- Footer Area
  ================================================== -->

  <div class="footer-container"><!-- Begin Footer -->
      <div class="container">
          <div class="row footer-row">
                <div class="span3 footer-col">
                    <h5>About Us</h5>
                   <img src="{{ url_for('static', filename='img/piccolo-footer-logo.png') }}" alt="Piccolo" /><br /><br />
                    <address>
                        <strong>The Austin Isms</strong><br />
                        2317 Speedway, Stop D9500<br />
                        Austin, TX 78712<br />
                    </address>
                    <ul class="social-icons">
                        <li><a href="#" class="social-icon facebook"></a></li>
                        <li><a href="#" class="social-icon twitter"></a></li>
                        <li><a href="#" class="social-icon dribble"></a></li>
                        <li><a href="#" class="social-icon rss"></a></li>
                        <li><a href="#" class="social-icon forrst"></a></li>
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <h5>Latest Tweets</h5>
                    <ul>
                        <li><a href="#">@room122</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li><a href="#">@room122</a> In interdum felis fermentum ipsum molestie sed porttitor ligula rutrum. Morbi blandit ultricies ultrices.</li>
                        <li><a href="#">@room122</a> Vivamus nec lectus sed orci molestie molestie. Etiam mattis neque eu orci rutrum aliquam.</li>
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <h5>Latest Posts</h5>
                     <ul class="post-list">
                        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="#">Consectetur adipiscing elit est lacus gravida</a></li>
                        <li><a href="#">Lectus sed orci molestie molestie etiam</a></li>
                        <li><a href="#">Mattis consectetur adipiscing elit est lacus</a></li>
                        <li><a href="#">Cras rutrum, massa non blandit convallis est</a></li>
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <h5>Flickr Photos</h5>
                    <ul class="img-feed">
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                    </ul>
                </div>
            </div>

            <div class="row"><!-- Begin Sub Footer -->
                <div class="span12 footer-col footer-sub">
                    <div class="row no-margin">
                        <div class="span6"><span class="left">Copyright 2012 Piccolo Theme. All rights reserved.</span></div>
                        <div class="span6">
                            <span class="right">
                            <a href="/">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/funruns">Fun Events</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/themes">Fun Themes</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/challenges">Fun Challenges</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/locations">Fun Locations</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/about">About</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- End Sub Footer -->

        </div>
    </div><!-- End Footer -->

    <!-- Scroll to Top -->  
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>    
    
</body>
</html>
