<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Fun Runs 2015: Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<!-- CSS
================================================== -->
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/prettyPhoto.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom-styles.css') }}">

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/style-ie.css"/>
<![endif]--> 

<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.jpg') }}">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon.jpg') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/icon.jpg') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/icon.jpg') }}">

<!-- JS
================================================== -->
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.prettyPhoto.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.flexslider.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.custom.js') }}"></script>
<script type="text/javascript">
$(document).ready(function () {

    $("#btn-blog-next").click(function () {
      $('#blogCarousel').carousel('next')
    });
     $("#btn-blog-prev").click(function () {
      $('#blogCarousel').carousel('prev')
    });

     $("#btn-client-next").click(function () {
      $('#clientCarousel').carousel('next')
    });
     $("#btn-client-prev").click(function () {
      $('#clientCarousel').carousel('prev')
    });
    
});

 $(window).load(function(){

    $('.flexslider').flexslider({
        animation: "slide",
        slideshow: true,
        start: function(slider){
          $('body').removeClass('loading');
        }
    });  
});

</script>

</head>

<!-- HTML BODY
================================================== -->

<body class="home">
  <!-- Color Bars (above header)-->
  <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    
    <div class="container">
  
    <div class="row header"><!-- Begin Header -->
    
      <!-- Logo
      ================================================== -->
      <div class="span5 logo">
<!--         <a href="/"><img src="{{ url_for('static', filename='img/piccolo-logo.png') }}"/></a> -->
          <h1>Fun Runs 2015!</i></h1>
      </div>
      
      <!-- Main Navigation
      ================================================== -->
      <div class="span7 navigation">
        <div class="navbar hidden-phone">
        
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/funruns">Fun Runs</a></li>
            <li><a href="/themes">Fun Themes</a></li>
            <li><a href="/challenges">Fun Challenges</a></li>
            <li><a href="/locations">Fun Locations</a></li>
            <li><a href="/about">About</a></li>
          </ul>
       
        </div>

          <!-- Mobile Nav
          ================================================== -->
          <form action="#" id="mobile-nav" class="visible-phone">
            <div class="mobile-nav-select">
              <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                  <option value="">Navigate...</option>
                  <option value="/">Home</option>
                  <option value="/funruns">Events</option>
                  <option value="/themes">Themes</option>
                  <option value="/challenges">Challenges</option>
                  <option value="/locations">Locations</option>
                  <option value="/about">About</option>
              </select>
            </div>
          </form>
          
      </div>
      
    </div><!-- End Header -->

    <div class="row headline"><!-- Begin Headline -->
    
      <!-- Slider Carousel
        ================================================== -->
        <div class="span8">
          <div class="flexslider">
              <ul class="slides">
                <li><a href="/funruns/2"><img src="{{ url_for('static', filename='img/indexCarousel/indexImg1.jpg') }}" alt="slider" /></a></li>
              </ul>
            </div>
        </div>
        
        <!-- Headline Text
        ================================================== -->
        <div class="span4">
          <h2>2015 Fun Runs of America</h2>
            <p class="lead">Bored of your basic, boring 5K race? <br/><br/>We understand. You're looking for something a little more on the wild side. <br/><br/>Or maybe you're just itching to be covered in mud, carrying your wife, eating pizza, and baring it all when you run.<br/><br/></p>
            <p class="lead" align="center"><strong>Itch no longer.</strong></p>
            <!-- <a href="#"><i class="icon-plus-sign"></i>Read More</a>  -->
        </div>
    </div><!-- End Headline -->
    <div class="span12">
      <p> Explanation about this site </p>
    </div>
  
    <div class="row"><!-- Begin Bottom Section -->
  
    <!-- Group Preview
    ================================================== -->
    <div class="span6">

      <h5 class="title-bg">Related Articles
          <small> To Discover More Fun Runs!</small>
          <button id="btn-blog-next" class="btn btn-inverse btn-mini" type="button">&raquo;</button>
          <button id="btn-blog-prev" class="btn btn-inverse btn-mini" type="button">&laquo;</button>
      </h5>

      <div id="blogCarousel" class="carousel slide ">

          <!-- Carousel items -->
          <div class="carousel-inner">

               <!-- Member 1 -->
              <div class="active item">

                  <div class="post-info clearfix">
                      <h4><a href="http://greatist.com/fitness/21-most-incredible-themed-races">The 21 Most Incredible Themed Races</a></h4>
                      <ul style="border:1px; solid #000">
                          <li><i class="icon-calendar"></i><strong>Posted on:</strong> July 3, 2012<li>
                          <li><i class="icon-user"></i><strong>Posted by:</strong> <a href="greatist.com" title="Link">Jordan Shakeshaft on Greatist.com</a><li>
                          <li><i class="icon-comment"></i><strong>Description: </strong>Zombies, Twinkies, and a photo op with Mickey Mouse? Today’s most amazing themed races feature insane obstacles, over-the-top costumes, and an outrageous supply of tasty treats. The best part: These wild n’ crazy events get the body, mind, and spirit off to the races. Come along as we highlight the most exciting running races around the globe — there’s truly something for everyone (couch potatoes and winos included!).<li>
                      </ul>
                  </div>
              </div>

              <!-- Member 2 -->
               <div class="item">
                <div class="post-info clearfix">
                      <h4><a href="https://everymove.org/blog/the-ultimate-top-10-5k-fun-runs">The Ultimate Top 10 5K Fun Runs</a></h4>
                      <ul style="border:1px; solid #000">
                          <li><i class="icon-calendar"></i><strong>Posted on:</strong> May 21, 2013<li>
                          <li><i class="icon-user"></i><strong>Posted by:</strong> <a href="everymove.org" title="Link">Christy Kelly on EveryMove.org</a><li>
                          <li><i class="icon-comment"></i><strong>Description: </strong>Why just run when you can "Fun Run"?<br/>In the past few years, fun runs have been growing in popularity. Each with a different theme, these races focus less on breaking records and more on getting active and having a good time. Fun runs are a great way for beginners to get motivated and for seasoned athletes to break up the monotony of training.<li>
                      </ul>
                  </div>
              </div>

              <!-- Member 3 -->
               <div class="item">
                <div class="post-info clearfix">
                      <h4><a href="http://health.usnews.com/health-news/health-wellness/slideshows/10-themed-races-to-make-getting-in-shape-fun">10 themed races to make getting in shape fun</a></h4>
                      <ul style="border:1px; solid #000">
                          <li><i class="icon-calendar"></i><strong>Posted on:</strong> July 31, 2013<li>
                          <li><i class="icon-user"></i><strong>Posted by:</strong> <a href="everymove.org" title="Link">Cynthia Washicko on Health.USNews.com</a><li>
                          <li><i class="icon-comment"></i><strong>Description: </strong>Exercise doesn’t have to be boring – at least that’s the theory behind the plethora of fun runs popping up across the country. Attracting runners with light-hearted themes, many of these promise participants a good time with a good dose of exercise. So whether you prefer being chased by zombies or dancing away a 5k, here are 10 runs to get you off the couch and back in shape.<li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>  
    </div>
      
    <!-- Link
    ================================================== -->
    <div class="span6">

        <h6 class="title-bg">Our Team: <small>Austin Isms</small></h6>

            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        Collapsible Group Item #1
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. 
                        </div>
                    </div>
                </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        Collapsible Group Item #2
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. 
                        </div>
                    </div>
                </div>

                 <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        Collapsible Group Item #3
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                        <div class="accordion-inner">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. 
                        </div>
                    </div>
                </div>



    </div>
      
  </div><!-- End Bottom Section -->
  
  </div> <!-- End Container -->

  <!-- Footer Area
  ================================================== -->

  <div class="footer-container"><!-- Begin Footer -->
      <div class="container">
          <div class="row footer-row">
                <div class="span3 footer-col">
                    <h5>About Us</h5>
                    <address>
                        <strong>The Austin Isms</strong><br />
                        2317 Speedway, Stop D9500<br />
                        Austin, TX 78712<br />
                    </address>
                    <ul class="social-icons">
                        <li><a href="#" class="social-icon facebook"></a></li>
                        <li><a href="#" class="social-icon twitter"></a></li>
                        <li><a href="#" class="social-icon dribble"></a></li>
                        <li><a href="#" class="social-icon rss"></a></li>
                        <li><a href="#" class="social-icon forrst"></a></li>
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <h5>Latest Tweets</h5>
                    <ul>
                        <li><a href="#">@room122</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li><a href="#">@room122</a> In interdum felis fermentum ipsum molestie sed porttitor ligula rutrum. Morbi blandit ultricies ultrices.</li>
                        <li><a href="#">@room122</a> Vivamus nec lectus sed orci molestie molestie. Etiam mattis neque eu orci rutrum aliquam.</li>
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <h5>Latest Posts</h5>
                     <ul class="post-list">
                        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="#">Consectetur adipiscing elit est lacus gravida</a></li>
                        <li><a href="#">Lectus sed orci molestie molestie etiam</a></li>
                        <li><a href="#">Mattis consectetur adipiscing elit est lacus</a></li>
                        <li><a href="#">Cras rutrum, massa non blandit convallis est</a></li>
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <h5>Flickr Photos</h5>
                    <ul class="img-feed">
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='img/gallery/flickr-img-1.jpg') }}" alt="Image Feed"></a></li>
                    </ul>
                </div>
            </div>

            <div class="row"><!-- Begin Sub Footer -->
                <div class="span12 footer-col footer-sub">
                    <div class="row no-margin">
                        <div class="span6"><span class="left">Copyright 2012 Piccolo Theme. All rights reserved.</span></div>
                        <div class="span6">
                            <span class="right">
                            <a href="/">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/funruns">Fun Events</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/themes">Fun Themes</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/challenges">Fun Challenges</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/locations">Fun Locations</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/about">About</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- End Sub Footer -->

        </div>
    </div><!-- End Footer -->

    <!-- Scroll to Top -->  
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>    
    
</body>
</html>
<!-- http://code.jquery.com/jquery-1.8.3.min.jshttp://code.jquery.com/jquery-1.8.3.min.jshttp://code.jquery.com/jquery-1.8.3.min.js -->