<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="LocationModule" ng-controller="LocationGetter">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Fun Runs 2015: [[location.name]]</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS
================================================== -->
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.lightbox-0.5.css') }}">
 -->
 <link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}" />
 <link rel="stylesheet" href="{{ url_for('static', filename='css/custom-styles.css') }}">

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/style-ie.css"/>
<![endif]--> 

<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/icon.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/icon.png') }}">

<!-- JS
================================================== -->
<!-- Changed to latest to work with Angular ! -->
<script src="{{ url_for('static', filename='angular/angular.js') }}"></script>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script> 
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.prettyPhoto.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.flexslider.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.custom.js') }}"></script>
<script>
  var myApp = angular.module('LocationModule', [], function($interpolateProvider) {
      $interpolateProvider.startSymbol('[[');
      $interpolateProvider.endSymbol(']]');
  });

  myApp.controller('LocationGetter', [ '$scope', '$sce', '$http', function($scope, $sce, $http) {
    $http.get("http://104.239.139.43:8000/api/locations/" + {{locationID}}).success(function(data) {
      $scope.location = data.locations;
      $scope.runsIDs = $scope.location.funruns;
      $scope.website_url = $sce.trustAsResourceUrl($scope.location.website_url);
      console.log($scope.location);
    });
    $http.get("http://104.239.139.43:8000/api/funruns").success(function(data) {
      $scope.runs = data.funruns;
      console.log($scope.runs);

    });
  }]);
</script>

<body>

  <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    
    <div class="container main-container">
    
      <div class="row header"><!-- Begin Header -->
      
        <!-- Logo
        ================================================== -->
        <div class="span5 logo">
            <h1>Location: [[location.name]]</h1>
            <a href="/locations" class="pull-left"><i class="icon-arrow-left"></i>Back to Locations</a>
        </div>
        
        <!-- Main Navigation
        ================================================== -->
        <div class="span7 navigation">
          <div class="navbar hidden-phone">
          
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/funruns">Fun Runs</a></li>
              <li><a href="/themes">Fun Themes</a></li>
              <li><a href="/challenges">Fun Challenges</a></li>
              <li class="active"><a href="/locations">Fun Locations</a></li>
              <li><a href="/tech">Technical</a></li>
              <li><a href="/about">About</a></li>
            </ul>
         
          </div>

            <!-- Mobile Nav
            ================================================== -->
            <form action="#" id="mobile-nav" class="visible-phone">
              <div class="mobile-nav-select">
                <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                    <option value="">Navigate...</option>
                    <option value="/">Home</option>
                    <option value="/funruns">Fun Runs</option>
                    <option value="/themes">Fun Themes</option>
                    <option value="/challenges">Fun Challenges</option>
                    <option value="/locations">Fun Locations</option>
                    <option value="/tech">Technical</option>
                    <option value="/about">About</option>
                </select>
              </div>
            </form>
            
        </div>
        
      </div><!-- End Header -->
     
    <!-- Page Content
    ================================================== --> 
    <div class="row">

        <!-- Gallery Items
        ================================================== --> 
        <div class="span12 gallery-single">

            <div class="row">
                <div class="span6">
                    <img src="[[location.img]]" class="align-left thumbnail" style="height: 100%; width: 100%" alt="image">
                </div>
                <div class="span6">
                    <h2>[[location.nickname]]</h2>
                    <p class="lead">[[location.description]]</p>

                    <ul class="project-info">
                        <li><h6><i class="icon-plane"></i>Landmarks:</h6> [[location.landmarks]]</li>
                        <li><h6><i class="icon-chevron-up"></i>Altitude:</h6> [[location.altitude]]</li>
                        <li><h6><i class="icon-tint"></i>Annual Rainfall:</h6> [[location.annual_rainfall]]</li>
                        <li><h6><i class="icon-calendar"></i>Average Temperatures</h6> 
                          <ul>Spring: [[location.spring_avgTemp]]&deg; Fahrenheit</ul>
                          <ul>Summer: [[location.summer_avgTemp]]&deg; Fahrenheit</ul>
                          <ul>Fall: [[location.fall_avgTemp]]&deg; Fahrenheit</ul>
                          <ul>Winter: [[location.winter_avgTemp]]&deg; Fahrenheit</ul>
                        </li>
                        <li><h6><i class="icon-tasks"></i>Average Humidity</h6>
                          <ul>Spring: <div class="progress progress-success progress-striped">
                            <div class="bar" style="width: [[location.spring_avgHumidity]]%"></div>
                          </ul>
                          <ul>Summer: <div class="progress progress-danger progress-striped">
                            <div class="bar" style="width: [[location.summer_avgHumidity]]%"></div>
                          </ul>
                          <ul>Fall: <div class="progress progress-warning progress-striped">
                            <div class="bar" style="width: [[location.fall_avgHumidity]]%"></div>
                          </ul>
                          <ul>Winter: <div class="progress progress-info progress-striped">
                            <div class="bar" style="width: [[location.winter_avgHumidity]]%"></div>
                          </ul>
                        </li>
                    </ul>

                    <a ng-href="[[website_url]]" alt="website">
                    <button class="btn btn-warning pull-left" type="button">
                      <div style="color: white">Visit Website</div>
                    </button>
                    </a>
                </div>
            </div>

          <h4 class="title-bg">Related Runs</h5>
          <div ng-repeat="ridx in runsIDs">
            <a ng-href="http://104.239.139.43:8000/funruns/[[ runs[ridx].id ]]">
              <p class="quote-text side">[[ runs[ridx].name ]]</p>
            </a>
          </div>
          <br/>

        </div><!-- End gallery-single-->


    </div><!-- End container row -->
    
    </div> <!-- End Container -->

 <!-- Footer Area
  ================================================== -->

  <div class="footer-container hidden-phone hidden-tablet"><!-- Begin Footer -->
      <div class="container">
        <br/>
            <div class="row"><!-- Begin Sub Footer -->
                <div class="span12 footer-col footer-sub">
                    <div class="row no-margin">
                        <div class="span6"><span class="left">Copyright 2012 Piccolo Theme. All rights reserved.</span></div>
                        <div class="span6">
                            <span class="right">
                            <a href="/">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/funruns">Fun Events</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/themes">Fun Themes</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/challenges">Fun Challenges</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/locations">Fun Locations</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/tech">Technical</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/about">About</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- End Sub Footer -->

        </div>
    </div><!-- End Footer -->

    <!-- Scroll to Top -->  
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>    
    
</body>
</html>
