<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="FunRunModule" ng-controller="FunRunGetter">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Fun Runs 2015: Fun Runs</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS
================================================== -->
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/prettyPhoto.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom-styles.css') }}">

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/style-ie.css"/>
<![endif]--> 

<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/icon.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/icon.png') }}">

<!-- JS
================================================== -->
<script src="{{ url_for('static', filename='angular/angular.js') }}"></script>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.prettyPhoto.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.quicksand.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.custom.js') }}"></script>

<script>
  var myApp = angular.module('FunRunModule', [], function($interpolateProvider) {
      $interpolateProvider.startSymbol('[[');
      $interpolateProvider.endSymbol(']]');
  });

  myApp.config(['$sceProvider', function($sceProvider) {
    $sceProvider.enabled(false);
  }]);

  myApp.filter('noNewLines', function() {
    return function(text) {
      // console.log(text);
      storage = text.replace(/\n/g, '<br/>');
      console.log(storage);
      return storage;
    }
  });

  myApp.controller('FunRunGetter', [ '$scope', '$sce', '$http', function($scope, $sce, $http) {
      $scope.payload = [];
      $scope.inputQuery = "";
      $scope.showContents = false;

      $scope.search = function() {
        // Default Order = Sort Name
          $scope.showContents = true;
          $http.get("/api/search?q=" + $scope.inputQuery).success(function(data) {
          $scope.payload = data;
          $scope.and_results = data.results.and_results;

          // AND PILLARS
          $scope.and_funruns = $scope.and_results.funruns;    
          $scope.and_funruns_fragments = []
          for(i = 0; i < $scope.and_funruns.length; i++) {
            $scope.and_funruns_fragments.push({name: $scope.and_funruns[i].object.name, frag: $sce.trustAsHtml($scope.and_funruns[i].fragment)});
          }
          console.log($scope.and_funruns_fragments);
          
          $scope.and_challenges = $scope.and_results.challenges;
          $scope.and_challenges_fragments = []
          for(i = 0; i < $scope.and_challenges.length; i++) {
            $scope.and_challenges_fragments.push({name: $scope.and_challenges[i].object.name, frag: $sce.trustAsHtml($scope.and_challenges[i].fragment)});
          }

          $scope.and_themes = $scope.and_results.themes;
          $scope.and_themes_fragments = []
          for(i = 0; i < $scope.and_themes.length; i++) {
            $scope.and_themes_fragments.push({name: $scope.and_themes[i].object.name, frag: $sce.trustAsHtml($scope.and_themes[i].fragment)});
          }

          $scope.and_locations = $scope.and_results.locations;
          $scope.and_locations_fragments = []
          for(i = 0; i < $scope.and_locations.length; i++) {
            $scope.and_locations_fragments.push({name: $scope.and_locations[i].object.name, frag: $sce.trustAsHtml($scope.and_locations[i].fragment)});
          }

          // OR PILLARS
          $scope.or_results = data.results.or_results;  

          $scope.or_challenges = $scope.or_results.challenges;
          $scope.or_challenges_fragments = []
          for(i = 0; i < $scope.or_challenges.length; i++) {
            $scope.or_challenges_fragments.push({name: $scope.or_challenges[i].object.name, frag: $sce.trustAsHtml($scope.or_challenges[i].fragment)});
          }

          $scope.or_funruns = $scope.or_results.funruns;
          $scope.or_funruns_fragments = []
          for(i = 0; i < $scope.or_funruns.length; i++) {
            $scope.or_funruns_fragments.push({name: $scope.or_funruns[i].object.name, frag: $sce.trustAsHtml($scope.or_funruns[i].fragment)});
          }

          $scope.or_themes = $scope.or_results.themes;
          $scope.or_themes_fragments = []
          for(i = 0; i < $scope.or_themes.length; i++) {
            $scope.or_themes_fragments.push({name: $scope.or_themes[i].object.name, frag: $sce.trustAsHtml($scope.or_themes[i].fragment)});
          }

          $scope.or_locations = $scope.or_results.locations;   
          $scope.or_locations_fragments = []
          for(i = 0; i < $scope.or_locations.length; i++) {
            $scope.or_locations_fragments.push({name: $scope.or_locations[i].object.name, frag: $sce.trustAsHtml($scope.or_locations[i].fragment)});
          }                         
          // console.log($scope.and_results);
          // console.log($scope.or_results);
          // console.log($scope.payload);
          // console.log($scope.and_themes)

        });
      }  
  }]);
</script>

</head>

<body> 
  <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    
    <div class="container main-container">
    
      <div class="row header"><!-- Begin Header -->
      
        <!-- Logo
        ================================================== -->
        <div class="span5 logo">
          <!-- <a href="/"><img src="{{ url_for('static', filename='img/piccolo-logo.png') }}"/></a> -->
            <h1>Fun Runs 2K15: Search</h1>
          <button class="btn btn-small btn-inverse" type="button"><a href="/search" style="color: white">Search</a></button>            
        </div>
        
        <!-- Main Navigation
        ================================================== -->
        <div class="span7 navigation">
          <div class="navbar hidden-phone">
          
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/funruns">Fun Runs</a></li>
              <li><a href="/themes">Fun Themes</a></li>
              <li><a href="/challenges">Fun Challenges</a></li>
              <li><a href="/locations">Fun Locations</a></li>
              <li><a href="/tech">Technical</a></li>
              <li><a href="/about">About</a></li>
            </ul>
         
          </div>

            <!-- Mobile Nav
            ================================================== -->
            <form action="#" id="mobile-nav" class="visible-phone">
              <div class="mobile-nav-select">
                <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                    <option value="">Navigate...</option>
                    <option value="/">Home</option>
                    <option value="/funruns">Fun Runs</option>
                    <option value="/themes">Fun Themes</option>
                    <option value="/challenges">Fun Challenges</option>
                    <option value="/locations">Fun Locations</option>
                    <option value="/tech">Technical</option>
                    <option value="/about">About</option>
                </select>
              </div>
            </form>
        </div>
      
    </div><!-- End Header -->
     

    <!-- Page Content
    ================================================== --> 
    <div class="row">

        <!-- Gallery Items
        ================================================== --> 
        <!-- CONTENT -->
        <div class="span12 gallery">
          <form style="text-align: center" class="form-search" ng-submit="search()">
            <!-- <div class="input-append"> -->
              <input type="text" class="span2 search-query" ng-model="inputQuery">
              <button type="submit" class="btn">Search</button>
              <!-- <input type="submit" value="Register"> -->
            <!-- </div> -->
          </form>

      <div ng-if="showContents === true">
          <h2 class="title-bg">RESULTS (AND)</h2>
        <div ng-if="and_funruns.length != 0">                    
          <h3>FUN RUNS</h3>
            <div class="row clearfix">
              <ul class="gallery-post-grid holder">
                <div ng-repeat="funrun in and_funruns">
                  <li class="span4 gallery-item">
                      <a ng-href="http://104.239.139.43:8000/funruns/[[ funrun.object.id ]]">
                        <span class="gallery-hover-3col hidden-phone hidden-tablet">
                        </span>
                        <div style="max-height: 300px; max-width: 370px; overflow: hidden">
                          <img ng-src="[[ funrun.object.landing_img]]" alt="Gallery" class="grayscale">
                        </div>
                      </a>
                     <span class="project-details"><a ng-href="http://104.239.139.43:8000/funruns/[[ funrun.object.id ]]">[[funrun.object.name]]</a>
                        <div data-ng-bind-html="and_funruns_fragments[$index].frag | noNewLines"></div>
                    </span>                        
                    </li>
                </div>
              </ul>
            </div>   
          </div>         

        <div ng-if="and_themes.length != 0">                    
          <h3>THEMES</h3>
            <div class="row clearfix">
              <ul class="gallery-post-grid holder">
                <div ng-repeat="theme in and_themes">
                  <li class="span4 gallery-item">
                      <a ng-href="http://104.239.139.43:8000/themes/[[ theme.object.id ]]">
                        <span class="gallery-hover-3col hidden-phone hidden-tablet">
                        </span>
                        <div style="max-height: 300px; max-width: 370px; overflow: hidden">
                          <img ng-src="[[ theme.object.landing_img]]" alt="Gallery" class="grayscale">
                        </div>
                      </a>
                      <span class="project-details"><a ng-href="http://104.239.139.43:8000/themes/[[ theme.object.id ]]">[[theme.object.name]]</a><div data-ng-bind-html="and_themes_fragments[$index].frag | noNewLines"></div></span>
                    </li>
                </div>
              </ul>
            </div>
          </div>  

        <div ng-if="and_challenges.length != 0">          
          <h3>CHALLENGES</h3>
            <div class="row clearfix">
              <ul class="gallery-post-grid holder">
                <div ng-repeat="chall in and_challenges">
                  <li class="span4 gallery-item">
                      <a ng-href="http://104.239.139.43:8000/challenges/[[ chall.object.id ]]">
                        <span class="gallery-hover-3col hidden-phone hidden-tablet">
                        </span>
                        <div style="max-height: 300px; max-width: 370px; overflow: hidden">
                          <img ng-src="[[ chall.object.landing_img]]" alt="Gallery" class="grayscale">
                        </div>
                      </a>
                      <span class="project-details"><a ng-href="http://104.239.139.43:8000/challenges/[[ chall.object.id ]]">[[chall.object.name]]</a>
                        <div data-ng-bind-html="and_challenges_fragments[$index].frag | noNewLines"></div></span>
                    </li>
                </div>
              </ul>
            </div>
          </div>  

        <div ng-if="and_locations.length != 0">          
          <h3>LOCATIONS</h3>
            <div class="row clearfix">
              <ul class="gallery-post-grid holder">
                <div ng-repeat="loc in and_locations">
                  <li class="span4 gallery-item">
                      <a ng-href="http://104.239.139.43:8000/locations/[[ loc.object.id ]]">
                        <span class="gallery-hover-3col hidden-phone hidden-tablet">
                        </span>
                        <div style="max-height: 300px; max-width: 370px; overflow: hidden">
                          <img ng-src="[[ loc.object.landing_img]]" alt="Gallery" class="grayscale">
                        </div>
                      </a>
                      <span class="project-details"><a ng-href="http://104.239.139.43:8000/locations/[[ loc.object.id ]]">[[loc.object.name]]</a>
                        <div data-ng-bind-html="and_locations_fragments[$index].frag | noNewLines"></div></span>
                    </li>
                </div>
              </ul>
            </div>
          </div>  


          <h2 class="title-bg">RESULTS (OR)</h2>     
        <div ng-if="or_funruns.length != 0">                 
          <h3>FUN RUNS</h3>
            <div class="row clearfix">
              <ul class="gallery-post-grid holder">
                <div ng-repeat="funrun in or_funruns">
                  <li class="span4 gallery-item">
                      <a ng-href="http://104.239.139.43:8000/funruns/[[ funrun.object.id ]]">
                        <span class="gallery-hover-3col hidden-phone hidden-tablet">
                        </span>
                        <div style="max-height: 300px; max-width: 370px; overflow: hidden">
                          <img ng-src="[[ funrun.object.landing_img]]" alt="Gallery" class="grayscale">
                        </div>
                      </a>
                      <span class="project-details"><a ng-href="http://104.239.139.43:8000/funruns/[[ funrun.object.id ]]">[[funrun.object.name]]</a>
                        <div data-ng-bind-html="or_funruns_fragments[$index].frag | noNewLines"></div></span>
                    </li>
                </div>
              </ul>
            </div>      
        </div>    

        <div ng-if="or_themes.length != 0">
          <h3>THEMES</h3>
            <div class="row clearfix">
              <ul class="gallery-post-grid holder">
                <div ng-repeat="theme in or_themes">
                  <li class="span4 gallery-item">
                      <a ng-href="http://104.239.139.43:8000/themes/[[ theme.object.id ]]">
                        <span class="gallery-hover-3col hidden-phone hidden-tablet">
                        </span>
                        <div style="max-height: 300px; max-width: 370px; overflow: hidden">
                          <img ng-src="[[ theme.object.landing_img]]" alt="Gallery" class="grayscale">
                        </div>
                      </a>
                      <span class="project-details"><a ng-href="http://104.239.139.43:8000/themes/[[ theme.object.id ]]">[[theme.object.name]]</a><div data-ng-bind-html="or_themes_fragments[$index].frag | noNewLines"></div></span>
                    </li>
                </div>
              </ul>
            </div>
        </div>            

        <div ng-if="or_challenges.length != 0">        
          <h3>CHALLENGES</h3>
            <div class="row clearfix">
              <ul class="gallery-post-grid holder">
                <div ng-repeat="chall in or_challenges">
                  <li class="span4 gallery-item">
                      <a ng-href="http://104.239.139.43:8000/challenges/[[ chall.object.id ]]">
                        <span class="gallery-hover-3col hidden-phone hidden-tablet">
                        </span>
                        <div style="max-height: 300px; max-width: 370px; overflow: hidden">
                          <img ng-src="[[ chall.object.landing_img]]" alt="Gallery" class="grayscale">
                        </div>
                      </a>
                      <span class="project-details"><a ng-href="http://104.239.139.43:8000/challenges/[[ chall.object.id ]]">[[chall.object.name]]</a><div data-ng-bind-html="or_challenges_fragments[$index].frag | noNewLines"></div></span>
                    </li>
                </div>
              </ul>
            </div>
        </div>

        <div ng-if="or_locations.length != 0">
          <h3>LOCATIONS</h3>
            <div class="row clearfix">
              <ul class="gallery-post-grid holder">
                <div ng-repeat="loc in or_locations">
                  <li class="span4 gallery-item">
                      <a ng-href="http://104.239.139.43:8000/locations/[[ loc.object.id ]]">
                        <span class="gallery-hover-3col hidden-phone hidden-tablet">
                        </span>
                        <div style="max-height: 300px; max-width: 370px; overflow: hidden">
                          <img ng-src="[[ loc.object.landing_img]]" alt="Gallery" class="grayscale">
                        </div>
                      </a>
                      <span class="project-details"><a ng-href="http://104.239.139.43:8000/locations/[[ loc.object.id ]]">[[loc.object.name]]</a><div data-ng-bind-html="or_locations_fragments[$index].frag | noNewLines"></div></span>
                    </li>
                </div>
              </ul>
            </div>   
          </div>
        </div>         

            <!-- Pagination -->
<!--         <div class="pagination">
                <ul>
                <li class="active"><a href="#">Prev</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
                </ul>
            </div> -->

        </div><!-- End gallery list-->

    </div><!-- End container row -->
    
    </div> <!-- End Container -->
    
 <!-- Footer Area
  ================================================== -->

  <div class="footer-container hidden-phone hidden-tablet"><!-- Begin Footer -->
      <div class="container">
        <br/>
            <div class="row"><!-- Begin Sub Footer -->
                <div class="span12 footer-col footer-sub">
                    <div class="row no-margin">
                        <div class="span6"><span class="left">Copyright 2012 Piccolo Theme. All rights reserved.</span></div>
                        <div class="span6">
                            <span class="right">
                            <a href="/">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/funruns">Fun Events</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/themes">Fun Themes</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/challenges">Fun Challenges</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/locations">Fun Locations</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/tech">Technical</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/about">About</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- End Sub Footer -->

        </div>
    </div><!-- End Footer -->

    <!-- Scroll to Top -->  
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>    
    
</body>
</html>
