<!DOCTYPE html>
<html>
  <head>
    <title>Fun Run Themes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <div class="span7 navigation">
      <h1>Fun Run Challenges</h1>
      <br>
      <div class="navbar">
        <ul class="nav">
          <li class="active"><a href="/funruns">Fun Runs</a></li>
          <li class="active"><a href="/themes">Themes</a></li>
          <li class="active"><a href="/challenges">Challenges</a></li>
          <li class="active"><a href="/locations">Locations</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>